services:
  minecraft:
    container_name: minecraft
    image: itzg/minecraft-server:2025.10.5-java21-graalvm
    ports:
      - '25566:25565'
    volumes:
      - /mnt/docker-volumes/minecraft/data:/data
    environment:
      - TZ=Europe/Kaliningrad
      - EULA=TRUE
      - VERSION=1.21.8
      - TYPE=FABRIC
      - MEMORY=4096M
      - DIFFICULTY=3
      - ENABLE_WHITELIST=true
      - ENFORCE_SECURE_PROFILE=false
      - ALLOW_FLIGHT=true
      - SYNC_CHUNK_WRITES=false
      - SIMULATION_DISTANCE=10
      - VIEW_DISTANCE=16
      - SPAWN_PROTECTION=0
      - OPS=${ADMIN_UUID}
      - WHITELIST=${ADMIN_UUID}
      - PACKWIZ_URL=${PACKWIZ_URL}
      - JVM_XX_OPTS=-Dminecraft.api.env=custom -Dminecraft.api.auth.host=${DRASL_URL}/auth -Dminecraft.api.account.host=${DRASL_URL}/account -Dminecraft.api.profiles.host=${DRASL_URL}/account -Dminecraft.api.session.host=${DRASL_URL}/session -Dminecraft.api.services.host=${DRASL_URL}/services ${JVM_XX_OPTIMIZATION_OPTS:-}
    labels:
      - nautical-backup.enable=true
    stdin_open: true
    stop_grace_period: 1m
    tty: true
