services:
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:10.10.7
    restart: unless-stopped
    volumes:
      - /mnt/docker-volumes/jellyfin/config:/config
      - /mnt/docker-volumes/arr-stack/media/movies:/data/movies
      - /mnt/docker-volumes/arr-stack/media/tv-shows:/data/tv-shows
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Kaliningrad
      - http_proxy=http://mihomo:1080
      - https_proxy=http://mihomo:1080
    networks:
      - vpn
      - proxy
    labels:
      - caddy=${DOMAIN}
      - caddy.reverse_proxy={{upstreams http 8096}}
    devices:
      - /dev/dri:/dev/dri

networks:
  vpn:
    external: true
  proxy:
    external: true
