services:
  drasl:
    container_name: drasl
    image: unmojang/drasl:3.4.0
    volumes:
      - /mnt/docker-volumes/drasl/config/config.toml:/etc/drasl/config.toml
      - /mnt/docker-volumes/drasl/data:/var/lib/drasl
    networks:
      - drasl

  anubis:
    container_name: anubis-drasl
    image: ghcr.io/techarohq/anubis:v1.22.0
    environment:
      - TARGET=http://drasl:25585
      - SERVE_ROBOTS_TXT=true
      - SLOG_LEVEL=ERROR
    networks:
      - drasl
      - tunnel

networks:
  drasl:
    driver: bridge
  tunnel:
    external: true
