services:
  newt:
    container_name: newt
    image: fosrl/newt:1.6.0
    restart: unless-stopped
    environment:
      - PANGOLIN_ENDPOINT=${PANGOLIN_ENDPOINT}
      - NEWT_ID=${NEWT_ID}
      - NEWT_SECRET=${NEWT_SECRET}
      - NO_CLOUD=true
    networks:
      - tunnel

networks:
  tunnel:
    external: true
